[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fonttools = {extras = ["woff"]}

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
tox = "*"

[requires]
python_version = "3.8"
