[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fonttools = {version = "==4.21.1", extras = ["woff"]}

[dev-packages]
pytest = "*"

[requires]
python_version = "3.8"
