name: Publish

# Controls when the action will run.
on:
  release:
    types: [created]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install Poetry
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry

      - name: Install Dependencies
        run: |
          python -m poetry install --no-interaction

      - name: Build and publish
        run: |
          python -m poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          python -m poetry publish --build
